{{ define "index" }}

{{ template "header" }}

<!-- Main -->
<div id="main">
	<div class="shell">
		<div id="sidebar">
			<div class="text-container">
				<h2>Показания датчиков:</h2>
				<div id="plot" style="height:300px;"></div>
			</div>
		</div>
		<div id="content">
			<div class="col">
				<div class="post">
					<h2>Настройка</h2>
					<img src="asserts/css/images/post-image2.gif" alt="" class="right" />
					<div class="cl">&nbsp;</div>
				</div>
			</div>
			<div class="col cols-2">
				<div class="post">
					<h2>Управление плеерами</h2>
					<div class="cl">&nbsp;</div>
				</div>
			</div>
			<div class="col cols-2 last">
				<div class="post">
					<h2>Сменить вид</h2>
					<div class="cl">&nbsp;</div>
				</div>
			</div>
		</div>
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- End Main -->

{{ end }}
